<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/style1.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>


	<script>
		$.noConflict();
        jQuery(document).ready(function($) {
            $(window).load(function(){ 

  			// For each instance of p.caption
			  $("p.caption").each(function(){
			    $(this)
			      // Add CSS properties and values
			      .css({
			         // Height equal to the height of the image
			        "height" : $(this).children("img").height() + "px",
			        // Width equal to the width of the image
			        "width" : $(this).children("img").width() + "px"
			      })
			      // Select the child "span" of this p.caption
			      // And add CSS properties and values
			      .children("span").css(
			        "width", $(this).width() - 20 + "px")

			      // find the <big> tag if it exists
			      // And then add the following div to break the line
			      .find("big").after('<div class="clear"></div>');
			    
			      // When you hover over p.caption
			      $("p.caption").hover(function(){

			        // Fade in the child "span"
			        $(this).children("span").stop().fadeTo(400, 1);
			        }, function(){
			        // Once mouse off, fade it out
			        $(this).children("span").stop().delay(600).fadeOut(400);
			      });
			  // End $(this)   
			  });

			});

		});
    </script>

    <script>
		var app = angular.module('myApp', []);
		app.controller('myController', function($scope) {
		    
		    $scope.movies = false;
		    $scope.tvshows = false;

		    $scope.showMovies = function() {
		        $scope.movies = true;
		        $scope.tvshows = false;
		    };

		    $scope.showTvShows = function() {
		        $scope.tvshows = true;
		        $scope.movies = false;
		    };

		    $scope.showAll = function() {
		        $scope.tvshows = false;
		        $scope.movies = false;
		    };
		});
	</script>

</head>

<body ng-app="myApp" ng-controller="myController">

	<div id="coverPhoto">
		
	</div>
<!-- ///////////////nav bar///////////////////////////////////////////////////////////////////// -->
	<div id="nav-div" >	
	<nav>
		<ul class="top-level-menu">
    		<li ng-click="showAll()"><a href="index.html">Home</a></li>
    		<li ng-click="showTvShows()"><a href="#">TV Shows</a></li>
    		<li ><a href="movies.html" >Movies</a>
        		<ul class="second-level-menu">
		            <li><a href="#">Latest</a></li>
		            <li><a href="#">Most Popular</a></li>
		            <li><a href="#">Genre Specific</a>
                		<ul class="third-level-menu">
		                    <li><a href="movies.html#comedy">Comedy</a></li>
		                    <li><a href="#">Romance</a></li>
		                    <li><a href="#">Action</a></li>
		                    <li><a href="#">Horror</a></li>
		                    <li><a href="#">Sci-fi</a></li>
		                    <li><a href="#">Other</a></li>
                		</ul>
            		</li>
            		<li><a href="#">Old</a></li>
        		</ul>
    			</li>
    			<li><a href="#">Music</a></li>
			<li ><a href="search.html">Search</a></li>
		</ul>
	</nav>
	</div>


<div id="big-nav" >
<!-- /////////left column///////////////////////////////////////////////////////////////// -->
		<div  id="left-column" style="background-color:;">

			<svg height="130" width="500">
			  <defs>
			    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
			      <stop offset="0%" style="stop-color:rgb(0,255,255);stop-opacity:1" />
			      <stop offset="100%" style="stop-color:rgb(0,0,255);stop-opacity:1" />
			    </linearGradient>
			  </defs>
			  <ellipse cx="125" cy="70" rx="120" ry="25" fill="url(#grad1)" />
			  <text fill="#ffffff" font-size="25" font-family="Helvetica" x="45" y="80">Movie Maniac</text>
			  Sorry, your browser does not support inline SVG.
			</svg>

			<h2 id="movieName">Popular</h2>
			<ul class="popular-list">
				<li><a href="#">Awkward</a></li>
				<li><a href="#">Ex Machina</a></li>
				<li><a href="#">Kill Your Darlings</a></li>
				<li><a href="#">Amityville Horror</a></li>
				<li><a href="#">A Walk Among the Tombstones</a></li>
			</ul>
		</div>

<!--/////////middle column///////////////////////////////////////////////////////////////	-->		
		<div id="middle-column" style="background-color: #E0F2F7">

			<div class="image-div" ng-hide="movies" style="background-color: ">
				<h2 id="movieName">Avatar: The Last Airbender</h2>
				<p class="caption">
				    <img src="img/cover.jpg" alt ="" />
				    <span>Season 3 Episode 21 <br><button>Download</button></span>
				</p>
			</div>

			<div class="image-div" ng-hide="tvshows" style="background-color: ">
				<h2 id="movieName">Ex Machina(2015)</h2>
				<p class="caption">
				    <img src="img/movies/exmachina.jpg" alt ="" />
				    <span>2015 Movie<br><button>Download</button></span>
				</p>
			</div>

			<div class="image-div" ng-hide="movies" style="background-color: ">
				<h2 id="movieName">Game of Thrones</h2>
				<p class="caption">
				    <img src="img/got2.jpg" alt ="" />
				    <span>Season 5 Episode 7 <br><button>Download</button></span>
				</p>

			</div>

			<div class="image-div" ng-hide="movies" style="background-color: ">
				<h2 id="movieName">Outlander</h2>
				<p class="caption">
				    <img src="img/outlander.png" alt ="" />
				    <span>Season 1 Episode 16<br><button>Download</button></span>
				</p>
			</div>

			<div class="image-div" ng-hide="movies" style="background-color:">
				<h2 id="movieName">Person of Interest</h2>
				<p class="caption">
				    <img src="img/poi.jpg" alt ="" />
				    <span>Season 4 Episode 22<br><button>Download</button></span>
				</p>
			</div>

			<div class="image-div" ng-hide="movies" style="background-color: ">
				<h2 id="movieName">Awkward</h2>
				<p class="caption">
				    <img src="img/awkward.jpg" alt ="" />
				    <span>Season 5 Episode 20<br><button>Download</button></span>
				</p>
			</div>	
		</div>

<!--////////////////////right column///////////////////////////////////////////////////////  -->

		<div id="right-column" style="background-color: ">
			<h2 id="movieName">Trending</h2>
			<span id="movieName">Watch Ex-Machina Trailer</span>
			<div style="padding:5px">
				<video width="100%" controls>
				  <source src="videos/exmachina.mp4" type="video/mp4">
				  Your browser does not support HTML5 video.
				</video>
			</div>
		</div>

	</div>

</body>

</html>